actionlib==1.11.9
airflow==1.7.1.2
alembic==0.8.6
amqp==1.4.9
angles==1.9.11
anyjson==0.3.3
awscli==1.9.1
Babel==1.3
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
billiard==3.3.0.23
binaryornot==0.4.0
bondpy==1.7.19
boto==2.40.0
botocore==1.3.1
camera-calibration==1.12.20
camera-calibration-parsers==1.11.12
catkin==0.7.6
catkin-pkg==0.3.6
celery==3.1.23
chardet==2.3.0
chartkick==0.4.2
click==6.6
colorama==0.3.3
configparser==3.5.0b2
controller-manager-msgs==0.12.0
cookiecutter==1.3.0
coursera-dl==0.6.0
croniter==0.3.12
cssselect==0.9.1
cv-bridge==1.12.4
cycler==0.10.0
dcos==0.4.5
dcoscli==0.4.5
decorator==4.0.9
diagnostic-analysis==1.9.2
diagnostic-common-diagnostics==1.9.2
diagnostic-updater==1.9.2
dill==0.2.5
docopt==0.6.2
docutils==0.12
dynamic-reconfigure==1.5.48
findspark==1.0.0
Flask==0.10.1
Flask-Admin==1.4.0
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-WTF==0.12
funcsigs==0.4
functools32==3.2.3.post2
future==0.15.2
futures==3.0.5
gazebo-plugins==2.5.13
gazebo-ros==2.5.13
gencpp==0.5.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.8
gennodejs==2.0.1
genpy==0.6.5
gitdb==0.6.4
GitPython==1.0.2
goose-extractor==1.0.25
greenlet==0.4.9
gunicorn==19.3.0
html5lib==1.0b8
httpsig==1.1.2
image-geometry==1.12.4
interactive-markers==1.11.3
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jieba==0.38
Jinja2==2.8
jmespath==0.9.0
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
jusText==2.1.1
keyring==9.0
kombu==3.0.35
laser-geometry==1.6.4
lockfile==0.12.2
lxml==3.4.4
Mako==1.0.4
Markdown==2.6.6
MarkupSafe==0.23
matplotlib==2.0.2
message-filters==1.12.7
mistune==0.7.2
moveit-commander==0.9.9
moveit-ros-planning-interface==0.9.9
moveit-ros-visualization==0.9.9
msgpack-python==0.4.7
nbconvert==4.2.0
nbformat==4.0.1
neovim==0.1.8
nltk==3.2.1
notebook==6.4.12
numpy==1.10.1
pager==3.3
pandas==0.18.1
path.py==0.0.0
pathlib2==2.1.0
pbr==1.9.1
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
pkginfo==1.2.1
pluginlib==1.10.5
portalocker==0.5.7
prettytable==0.7.2
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pycairo==1.10.0
pycosat==0.6.1
pycrypto==2.6.1
pydot==1.2.3
Pygments==2.1.3
pygoogle==0.6
PyJWT==1.3.0
pyparsing==2.1.4
pypng==0.0.18
pystache==0.5.4
pytest==2.8.7
python-daemon==2.1.1
python-dateutil==2.4.2
python-editor==1.0
python-qt-binding==0.3.2
pytz==2016.4
PyYAML==3.11
pyzmq==15.2.0
qt-dotgraph==0.3.4
qt-gui==0.3.4
qt-gui-cpp==0.3.4
qt-gui-py-common==0.3.4
qtconsole==4.3.1
requests==2.7.0
requests-mock==0.6.0
resource-retriever==1.12.3
rollbar==0.13.0
rosbag==1.12.7
rosboost-cfg==1.13.5
rosclean==1.13.5
roscreate==1.13.5
rosgraph==1.12.7
roslaunch==1.12.7
roslib==1.13.5
roslint==0.11.0
roslz4==1.12.7
rosmake==1.13.5
rosmaster==1.12.7
rosmsg==1.12.7
rosnode==1.12.7
rosparam==1.12.7
rospkg==1.1.2
rospy==1.12.7
rosserial-client==0.7.6
rosserial-python==0.7.6
rosservice==1.12.7
rostest==1.12.7
rostopic==1.12.7
rosunit==1.13.5
roswtf==1.12.7
rqt-action==0.4.9
rqt-bag==0.4.8
rqt-bag-plugins==0.4.8
rqt-console==0.4.8
rqt-dep==0.4.8
rqt-graph==0.4.8
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.8
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.7
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.8
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.7
rqt-robot-steering==0.5.7
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.8
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.8
rqt-web==0.4.8
rsa==3.2
ruamel.ordereddict==0.4.9
ruamel.yaml==0.11.14
rviz==1.12.11
scikit-learn==0.17.1
scipy==0.17.1
seaborn==0.7.0
sensor-msgs==1.12.5
setproctitle==1.1.10
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.7.19
smmap==0.9.0
sodapy==1.2.0
SQLAlchemy==1.0.13
srdfdom==0.4.2
stevedore==1.12.0
stream-python==2.3.8
subprocess32==3.2.7
terminado==0.6
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.16
tf2-kdl==0.5.16
tf2-py==0.5.16
tf2-ros==0.5.16
thrift==0.9.3
toml==0.9.1
topic-tools==1.12.7
tornado==4.3
traitlets==4.2.1
trollius==2.1
urdfdom-py==0.3.3
urllib3==1.16
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.10.4
whichcraft==0.4.0
WTForms==2.1
xacro==1.11.2
